/* app/javascript/stylesheets/application.scss */

@import "tailwindcss/base";
@import "tailwindcss/components";
// Custom SCSS
@import "./components/buttons";
@import "./components/forms";
$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import "./custom_css/direct_uploads.css";
@import "./custom_css/main_nav.scss";
@import "./custom_css/posts.scss";
@import "./custom_css/custom_auth_links.scss";

/****************************************
  IMPORTANT Scroll To Top
*****************************************/

.scrollTop {
    position: fixed;
    right: 10%;
    bottom: 10px;
    background-color: teal;
    padding: 10px 15px 10px 15px;
    opacity: 0;
    transition: all 0.4s ease-in-out 0s;
    text-decoration: none;
    z-index: 1;
}

.scrollTop a {
    font-size: 18px;
    color: #fff;
}

.scrollTop:hover {
    background-color: gray;
    color: #ffffff;
    text-decoration: none;
}

@import "tailwindcss/utilities";